.flex-case{
    width:100%;
    /* height: 800px; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-case__block{
    max-width: 500px;

    padding: 20px;
    margin-top: 200px;
    border: 2px solid rgba(0, 0, 0, .3);
    box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}

.title{
    text-align:  center;
}