
body{
    margin: 0px;
    padding: 0px;
}
.masthead{
    border-bottom: 2px solid black;
    /* padding-bottom: 20px; */
    display: flex;
    justify-content: space-between;
}

.menu-item{
display: inline;
text-transform: uppercase;
margin: 0px 10px;
}
.menu-item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 17px 20px;
    
}
.active a{
    background-color: brown;
    color: white;
}
.button{
    margin-right: 60px;
    background-color: rgb(175, 109, 219);
    cursor: pointer;
    border: none;
}
.button:hover{
    background-color: rgb(221, 119, 88);
}

