<div class="user-profile">
    <img class="avatars" src="https://klike.net/uploads/posts/2019-03/1551511825_12.jpg" alt="">

    <ul class="info">
      <li><b>Name:</b> {{ name }}</li>
      <li><b>Phone:</b> {{ phone }}</li>
      <li><b>Email:</b> {{ email }}</li>
      <li><b>Location:</b> {{ address }}</li>
    </ul>
  </div>